*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    margin : 0;
    line-height : 1.6;
    background-color : rgb(234, 227, 227);
}
 
h1 {
    color: #1f4e79;
    text-align: center;
}

h2 {
    color: #333333;
    text-align: left;
}

a {
    color: #0066cc;
    text-decoration: none;
    transition : color 0.3s ease-in;
}
a:hover {
    color : #1511ec;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;

    background-color: white;

    border-radius: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    margin-bottom: 40px;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-wrap : wrap;
    justify-content: flex-start;

}

li {
    background-color: #d8e5fd;
    padding: 10px 16px;
    border-radius: 20px;
}

.contact-links {
    display: flex;
    gap: 20px;
    flex-wrap : wrap;
    justify-content: flex-start;
}

.contact-links a {
    background-color: #d6e3ffb0;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.35s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-links a:hover {
    background-color: #d9e7ff;
    transform: translateY(-2px);
}

.project-card{
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tech-stack {
    color: #666;
    font-size: 0.9rem;
    margin-top: -10px;
}

@media (max-width: 600px) {
    .container {
        margin: 20px;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }
}
